@charset "UTF-8";
/*========= INDEX ============
-NAVbar / Menu
-Encabezado / Titulo
-About me
-Portfolio
-Skills
-Contact
-Back to Top

========= FIN INDEX ============*/
/* Base */
/*========== Fonts ==========*/
/*========== Title ==========*/
/*========== Colors ==========*/
/*-- Action things = Gray */
/* ===== Shadow ===== */
/* Components */
/* ========= Generales a toda la pagina  ========= */
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
  box-sizing: border-box;
  color: white;
  line-height: 1.3;
  font-weight: 400;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  overflow-x: hidden !important;
}
body p {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;
}

.breadcrumb {
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
}
.breadcrumb a {
  color: #0b8686;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
  color: #0b8686;
}

/* ========= FIN Generales a toda la pagina  ========= */
/* ========= NAVBAR / MENU  ========= */
.navbar {
  font-family: "Lato", sans-serif;
  margin: 0 2em;
  transition: top 8s;
  background-color: #343a40;
}
.navbar .container-fluid #language a:hover {
  background-color: #004d4d !important;
  border-radius: 2px;
  cursor: pointer;
}
.navbar .container-fluid .navbar-toggler {
  background-color: white;
  border: none;
}
.navbar .container-fluid .button {
  justify-content: space-between;
}
.navbar .container-fluid .button #navbarScroll {
  justify-content: center;
}
.navbar .container-fluid .button #navbarScroll a {
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
}
.navbar .container-fluid .navbar-menu {
  justify-content: center;
}
.navbar .container-fluid .navbar-menu li a:hover {
  background-color: #004d4d !important;
  border-radius: 2px;
  cursor: pointer;
}
.navbar .container-fluid #socialMedia ul li a {
  color: white;
  padding: 0.5em;
}
.navbar .container-fluid #socialMedia ul li a i {
  font-size: 1.5em;
}
.navbar .container-fluid #socialMedia ul li a i:hover {
  color: #004d4d;
}
@media screen and (max-width: 768px) {
  .navbar .container-fluid #socialMedia {
    display: none;
  }
}
.navbar .container-fluid .dropdown-menu a {
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 768px) {
  #lang-icon {
    display: none;
  }
}

#lang-movil {
  display: none;
}

#lang-movil a:hover {
  background-color: teal;
  border-radius: 0.1em;
}

@media screen and (max-width: 768px) {
  #lang-movil {
    display: inline-flex;
    position: absolute;
    top: 15px;
  }
}
@media screen and (max-width: 768px) {
  #lang-movil a {
    color: white;
    padding: 0 0.2em;
  }
}
/* ========= FIN NAVBAR / MENU  ========= */
#title .subName, #title .name {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  color: white;
  text-align: center;
}

/* ========= TITLE  ========= */
#title {
  width: 100%;
  padding: 50px;
  margin-bottom: 2em;
  z-index: -1;
  text-align: center;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  /*Background*/
  background: linear-gradient(-45deg, rgba(0, 77, 77, 0.8), #0b8686, #7e8388, #343a40);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#title .name {
  font-size: 3em;
  border-top: 2px solid white;
  margin: 0.8em 15% 0 15%;
  padding: 0.2em 0;
}
@media screen and (max-width: 768px) {
  #title .name {
    margin: 0.8em auto 0 auto;
  }
}
#title .subpage {
  font-size: 2em;
  border-top: none;
  margin: 1em auto 0 auto;
  padding: 1em auto 0 auto;
  padding-top: 0.2em;
}
#title .subName {
  font-size: 1.5em;
  border-bottom: 2px solid white;
  margin: 0 25%;
  padding: 0.2em 0;
}
@media screen and (max-width: 768px) {
  #title .subName {
    margin: auto;
  }
}

/* ========= FIN TITLE  ========= */
/* ============= ABOUT ME ============= */
#about {
  display: flex;
}
@media screen and (max-width: 768px) {
  #about {
    display: grid;
  }
}
#about p {
  color: #343a40;
}
@media screen and (max-width: 768px) {
  #about .right {
    width: 90%;
    justify-self: center;
  }
}
#about .left {
  padding-left: 10%;
}
@media screen and (max-width: 768px) {
  #about .left {
    order: 3;
    padding: 10px 20px;
    width: 100%;
  }
}
#about .left .row {
  height: 50%;
}
@media screen and (max-width: 768px) {
  #about .left .row {
    height: 0%;
  }
}
#about .left .row .box {
  width: 150px;
  height: 150px;
  border-top: rgba(0, 77, 77, 0.8) solid 5px;
  border-left: rgba(0, 77, 77, 0.8) solid 5px;
}
@media screen and (max-width: 768px) {
  #about .left .row .box {
    display: none;
  }
}
#about .left .row .text-me {
  font-size: 2.5em;
  height: 45px;
  color: #343a40;
  position: relative;
  top: -135px;
  left: 5%;
}
@media screen and (max-width: 768px) {
  #about .left .row .text-me {
    display: none;
  }
}
#about .left .row .parra {
  padding-left: 30px;
  padding-right: 40px;
}
#about .left .row .parra .sole {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #004d4d;
}
@media screen and (max-width: 768px) {
  #about .left .row .parra {
    font-size: 0.9em;
    text-align: justify;
    line-height: 25px;
    width: 100%;
  }
}
#about .left .row .readMore .button-v {
  background-color: #343a40;
  border-color: transparent;
  margin-bottom: 0.5em;
  margin-left: 10em;
  position: relative;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  #about .left .row .readMore .button-v {
    margin: 10px 0;
    justify-self: center;
    width: 100%;
  }
}
#about .left .row .readMore .button-v:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: auto;
  right: -20px;
  transition: 0.5s;
}
#about .left .row .readMore .button-v:hover {
  padding-right: 24px;
  padding-left: 8px;
  background-color: #004d4d;
}
#about .left .row .readMore .button-v:hover:after {
  opacity: 1;
  right: 10px;
  color: white;
}

/* ============= FIN ABOUT ME ============= */
/* =========  Skills =========  */
.section-skills {
  background-color: rgba(0, 77, 77, 0.8);
  margin: 40px 0;
}

@media screen and (max-width: 768px) {
  .skills {
    order: 4;
  }
}
.skills .feat-item {
  padding: 0;
  margin: 30px 0;
}
@media screen and (max-width: 768px) {
  .skills .feat-item {
    margin: 1.1em auto;
  }
}
.skills .feat-item .text-center {
  padding: 20px 30px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
  height: 280px;
}
.skills .feat-item .text-center .icon {
  width: 90px;
  height: 90px;
  line-height: 105px;
  color: #777;
  font-size: 60px;
  margin-bottom: 25px;
  position: relative;
  z-index: 3;
}
.skills .feat-item .text-center h5 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}
.skills .feat-item .text-center h6 {
  color: #004d4d;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
}
.skills .feat-item .text-center p {
  color: #343a40;
}
.skills .extra-title {
  margin-bottom: 30px;
}
.skills .extra-title span {
  color: #004d4d;
}

.skills .feat-item:hover .icon_w {
  /*Ver como pasarlos a BLANCO con el HOVER*/
  color: white;
}

.skills .feat-item:hover .icon:after {
  -webkit-transform: scale(1.4, 1.4);
  transform: scale(1.4, 1.4);
}

.skills .feat-item .icon:after {
  /*tranformacion hover*/
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #004d4d;
  background: -webkit-gradient(linear, left top, right bottom, from(#0b8686), to(#004d4d));
  background: linear-gradient(to bottom right, #0b8686, #004d4d);
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/* =========  FIN Skills =========  */
/* ========= PORTFOLIO =============*/
.portfolio .clr {
  clear: both;
}

.portfolio .gallery-wrap {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.portfolio .gallery-wrap h1 {
  letter-spacing: 4px;
}

@media screen and (max-width: 768px) {
  .portfolio .gallery-wrap .portfolio-EN {
    width: 100%;
  }
}
label {
  width: 10%;
  border: 0.1em solid #004d4d;
  letter-spacing: 2px;
  padding: 0 0.5rem;
  margin: 0 8px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.8s;
  height: 2rem;
  min-width: fit-content;
  text-align: center;
}

label:hover {
  background-color: #004d4d;
  color: white;
}

/*MOVIL*/
@media screen and (max-width: 768px) {
  .label {
    width: 30%;
    margin: 0;
  }
  .labelhover {
    background-color: #004d4d;
  }
}
input[type=radio] {
  display: none;
}

input[type=radio]:checked + label {
  background: #004d4d;
  color: white;
}

/*Filtros*/
input[type=radio][id=renders]:checked ~ .stands,
input[type=radio][id=renders]:checked ~ .prototypes,
input[type=radio][id=renders]:checked ~ .packaging,
input[type=radio][id=renders]:checked ~ .metal {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: 0.5s;
}

input[type=radio][id=stands]:checked ~ .renders,
input[type=radio][id=stands]:checked ~ .prototypes,
input[type=radio][id=stands]:checked ~ .packaging,
input[type=radio][id=stands]:checked ~ .metal {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: 0.5s;
}

input[type=radio][id=prototypes]:checked ~ .renders,
input[type=radio][id=prototypes]:checked ~ .stands,
input[type=radio][id=prototypes]:checked ~ .packaging,
input[type=radio][id=prototypes]:checked ~ .metal {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: 0.5s;
}

input[type=radio][id=packaging]:checked ~ .renders,
input[type=radio][id=packaging]:checked ~ .stands,
input[type=radio][id=packaging]:checked ~ .prototypes,
input[type=radio][id=packaging]:checked ~ .metal {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: 0.5s;
}

input[type=radio][id=metal]:checked ~ .renders,
input[type=radio][id=metal]:checked ~ .stands,
input[type=radio][id=metal]:checked ~ .prototypes,
input[type=radio][id=metal]:checked ~ .packaging {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: 0.5s;
}

.gallery-image {
  width: 23%;
  height: 300px;
  float: left;
  margin: 1%;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .gallery-image {
    height: auto;
    width: 48%;
  }
}
.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  border: 10px;
}
.gallery-image p {
  font-size: large;
  line-height: 1.2;
  color: white;
}

/*Hover Section*/
.gallery-image .each-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #BFBFBF;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #BFBFBF;
}

.gallery-image:hover .cap2, .gallery-image:hover .cap1 {
  left: 0px;
}

.cap1 {
  position: absolute;
  width: 100%;
  height: 70%;
  background: rgba(255, 255, 255, 0.5);
  top: 0px;
  left: -100%;
  padding: 2em 1em;
  transition: all 0.5s;
  font-family: "Lato", sans-serif;
  color: black;
}
@media screen and (max-width: 768px) {
  .cap1 {
    height: 75%;
  }
}
@media screen and (max-width: 768px) {
  .cap1 h3 {
    font-size: initial;
    margin-top: -8px;
  }
}
.cap1 p {
  color: black;
}
@media screen and (max-width: 768px) {
  .cap1 p {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .cap1 .h3-mob {
    font-size: x-large;
    margin-top: -8px;
  }
}
@media screen and (max-width: 768px) {
  .cap1 .p-mob {
    display: block;
  }
}

.cap2 {
  position: absolute;
  width: 100%;
  height: 30%;
  background: #004d4d;
  bottom: 0px;
  left: 100%;
  padding: 2em 1em;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .cap2 {
    height: 25%;
    padding: 0;
  }
}
.cap2 a {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .cap2 p {
    font-size: initial;
    line-height: 1.2;
    color: white;
    margin-top: 8px;
  }
}
.cap2 .p-see-mob {
  font-size: x-large;
}
@media screen and (max-width: 768px) {
  .cap2 .p-see-mob {
    margin-top: 24px;
  }
}

/* ========== FIN PORTFOLIO =========*/
#footer .background {
  color: white;
  font-size: 14px;
  background: rgba(0, 77, 77, 0.8);
}
#footer .background .footer-top {
  display: flex;
  justify-content: center;
}
#footer .background .footer-top .footer-contact {
  font-family: "Lato", sans-serif;
}
#footer .background .footer-top .footer-contact h4 {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  margin-top: 25px;
  line-height: 1;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
#footer .background .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  color: white;
  display: flex;
  justify-content: center;
}
#footer .socialFooter {
  padding-bottom: 1.5rem !important;
  justify-content: center;
  margin-top: 10px;
}
#footer .socialFooter .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #343a40;
  color: white;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .socialFooter .social-links a:hover {
  background: white;
  color: #343a40;
  text-decoration: none;
}
#footer .BackToTop-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 10px;
}
#footer .BackToTop-container .arrowUp {
  color: #004d4d;
}
#footer .BackToTop-container a {
  text-decoration: none;
}
#footer .BackToTop-container p {
  color: #343a40;
  font-size: 16px;
  padding: 0 20px;
}
#footer .BackToTop-container p:hover {
  color: rgba(0, 77, 77, 0.8);
}

/* ========= FIN Footer ========= */
/* ======== Arrow UP ==========*/
/* VER COMO HACER: 
-Que cambie de color cuando pasa por los fondos
*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 12px;
  z-index: 99;
  border: none;
  background-color: #343a40;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 18px;
}
#myBtn:hover {
  background-color: #004d4d;
}

/* ======== Arrow UP ==========*/
/*========= About ============*/
.about {
  padding: 10px 0;
  color: rgba(44, 38, 38, 0.5);
}
.about h3 {
  font-weight: 600;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .about {
    text-align: center;
  }
}
.about p {
  font-size: 15px;
  color: rgba(44, 38, 38, 0.5);
  text-align: justify;
}

/*========= END About ============*/
/*========= Skills ============*/
#skills {
  margin-bottom: 30px;
}
#skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
#skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #384046;
}
#skills .progress .skill .val {
  float: right;
  font-style: normal;
}
#skills .progress .progress-bar-wrap {
  background: #dcdee0;
}
#skills .progress .progress-bar-wrap .progress-bar {
  width: 50%;
  height: 10px;
  transition: 0.9s;
  background-color: rgba(0, 77, 77, 0.8);
}

/*========= END Skills ============*/
/* ========= Portfolio Details ========= */
#portfolio-container .portfolio-details {
  padding-top: 0;
  margin-bottom: 5%;
}
#portfolio-container .portfolio-details .portfolio-details-slider {
  align-items: center;
}
#portfolio-container .portfolio-details .portfolio-details-slider .photo-slide img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #BFBFBF;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
#portfolio-container .portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
#portfolio-container .portfolio-details .portfolio-details-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: 1;
  border: 1px solid #004d4d;
}
#portfolio-container .portfolio-details .portfolio-details-slider .swiper-pagination-bullet-active {
  background-color: #004d4d;
}
#portfolio-container .side-text .portfolio-info {
  padding: 30px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
#portfolio-container .side-text .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
#portfolio-container .side-text .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
#portfolio-container .side-text .portfolio-info ul li + li {
  margin-top: 10px;
}
#portfolio-container .side-text .portfolio-description {
  padding-top: 30px;
}
#portfolio-container .side-text .portfolio-description .description-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #343a40;
  text-align: center;
}
#portfolio-container .side-text .portfolio-description .descripcion {
  padding: 0 15px;
  color: #343a40;
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
