
/* ============= ABOUT ME ============= */
#about {
    display: flex;
    
    p {
        color: $txt-gr;
    }

    .left {
        padding-left: 10%;
        @media screen and (max-width: 768px){
        order: 3;
        }
        .row {
            height: 50%;

            @media screen and (max-width: 768px){
                height: 0%;
            }

            .box {
                width: 150px;
                height: 150px;
                border-top: $bg-opa solid 5px ;
                border-left: $bg-opa solid 5px;

                @media screen and (max-width: 768px){
                    display: none;
                }
            }
            .text-me {
                font-size: 2.5em;
                height: 45px;
                color: $txt-gr;
                position: relative;
                top: -135px;
                left: 5%;

                @media screen and (max-width: 768px){
                    display: none;
                }
            }

            .parra {
                padding-left: 30px;
                padding-right: 40px;
                
                .sole{
                    font-family: $font-monse;
                    font-size: 18px;
                    color: $bg-solid;
                }

                @media screen and (max-width: 768px){
                padding-right: 20px;
                font-size: .9em;
                text-align: justify;
                padding-left: 0%;
                line-height: 25px;
                }
            }
            .readMore {
                .button-v {
                    background-color: $bg-button;
                    border-color: transparent;
                    margin-bottom: .5em;
                    margin-left: 10em;
                    position: relative;
                    transition: 0.5s;

                    @media screen and (max-width: 768px){
                        background-color: $bg-button;
                        margin-left: 3em;
                        margin-top: 5px;
                    }
                    
                    &:after {
                        content: '»';
                        position: absolute;
                        opacity: 0;  
                        top: auto;
                        right: -20px;
                        transition: 0.5s;
                    }
                      
                    &:hover{
                        padding-right: 24px;
                        padding-left:8px;
                        background-color: $bg-solid;
                    }
                      
                    &:hover:after {
                        opacity: 1;
                        right: 10px;
                        color: $txt-color;
                    }
                }
            }

        }
    }
}







/* ============= FIN ABOUT ME ============= */
 





