/* ======== Arrow UP ==========*/
  

/* VER COMO HACER: 
-Que cambie de color cuando pasa por los fondos
*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 12px;
    z-index: 99;
    border: none;
    background-color: $txt-gr;
    color: $txt-color;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    
    &:hover {
        background-color: $bg-solid;
   
    }
}



/* ======== Arrow UP ==========*/