#footer {

  .background {
    color: $txt-color;
    font-size: 14px;
    background: $bg-opa;
    
    .footer-top {
              
      .footer-contact {
              
        h4 {
          font-size: 22px;
          margin-top: 30px;
          padding: 2px 0 2px 0;
          line-height: 1;
          font-weight: 700;
        }
      
        p {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 10px;
          font-family: $font-monse;
          color: $txt-color;
        }
      }  
    } 
  }

  .socialFooter {
    padding-bottom: 1.5rem!important;
  
    .social-links a {
      font-size: 18px;
      display: inline-block;
      background: $bg-button;
      color: $txt-color;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
      
      &:hover {
      background: $txt-color;
      color: $bg-button;
      text-decoration: none;
      }
    }
  }  

  .BackToTop-container {
    display: flex;
    justify-content: center;
    align-items: baseline; 
    padding-bottom: 10px;
  
    .arrowUp {
      color: $bg-solid;  
    }

    a {
      text-decoration: none;
    }

    p {
      color: $bg-button;
      font-size: 16px;
      padding: 0 20px;

      &:hover {
        color: $bg-opa;
        
      }
    }
  }

}


/* ========= FIN Footer ========= */