
 /* ========= Generales a toda la pagina  ========= */

html, body { height: 100%; }


body {
   
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
    box-sizing: border-box;
    color: $txt-color;
    line-height: 1.3;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden !important;
        
    p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    
    line-height: 1.8;
    margin: 0;
    }

}


.breadcrumb {
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;

    a {
        color: $bg-solid-light;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: $bg-solid-light;
        }
    }
}

 /* ========= FIN Generales a toda la pagina  ========= */
