
/* ========= NAVBAR / MENU  ========= */

.navbar {
    font-family: $font-lato;
    margin: 0 2em;
    transition: top 8s;
    background-color: $bg-button;
   
    .container-fluid{

        #language {   
            a{
                &:hover{
                background-color: $bg-solid !important; 
                border-radius: 2px; 
                cursor: pointer;
                } 
            }   
        }

        .navbar-toggler {
            background-color: white;
            border: none;
        }
        
        .button {
            justify-content: space-between;
                
            #navbarScroll {
                justify-content: center;

                a{
                    padding: .5em 1em;
                    letter-spacing: .1em;
                }
            }
        }

       .navbar-menu{
            justify-content: center;

            li{
                a{
                    &:hover{
                    background-color: $bg-solid !important; 
                    border-radius: 2px; 
                    cursor: pointer;
                    } 
                } 
                               
            }

        }

        #socialMedia{
         
            ul{
                li{
                   a{
                    color: $txt-color;
                    padding: 0.5em;                          
                        i{
                            font-size: 1.5em;

                            &:hover{
                                color: $bg-solid;
                            }
                        }
                    }
                }
            }
            
                      
            @media screen and (max-width: 768px){
                display: none;
            }  
            
        }

        .dropdown-menu {
            a{
                padding: .5em 1em;
                letter-spacing: .1em;
            }
        }
       
    }

}


#lang-icon{
    @media screen and (max-width: 768px) {
        display: none;
    }
}
       
#lang-movil {
    display: none;
}

#lang-movil a:hover {
    background-color: teal;
    border-radius: .1em;
}


@media screen and (max-width: 768px) {
    #lang-movil {
    display: inline-flex;
    position: absolute;
    top: 15px;
    }
}

@media screen and (max-width: 768px) {
    #lang-movil a{
    color: $txt-color;
    padding: 0 .2em;
    }
}

/* ========= FIN NAVBAR / MENU  ========= */
