/*--VER POR QUE NO ANDA--*/


.photo-container {
  display: flex;
  justify-content: center;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  line-height: 0;
  
  li {
    flex: auto; 
  }

  a {
    display: block;
  }
  
  img {
    width: 30vmin;
    height: 20vmin;
    object-fit: cover;
    object-position: top;
  }
}

.slides {
  overflow: hidden;
  width: 75vmin;
  height: 100vmin;
  
  li {
    width: 75vmin;
    height: 100vmin;
    position: absolute;
    z-index: 1;
  }
  
  img {
    height: 100vmin;
    object-fit: cover;
    object-position: top;
  }
}

.slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
}

.slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}

.container {
  text-align: center;
  margin-bottom: 1em;

  ul,
  li,
  img {
    margin: 0;
  }

  li {
    list-style: none;
  }

  .slides {
    display: inline-block;

    li {
      width: 10em;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0.25em;
    }

    img {
      width: 100%;
    }
  }

  .thumbnails {
    display: none;
  }
}

@media screen and (min-width: 540px) {
  @supports (object-fit:cover) {
    .container {
      display: flex;
      justify-content: center;
      margin-bottom: 1em;

      .slides {
        overflow: hidden;
        width: 50vmax;

        li {
          position: absolute;
          z-index: 1;
          width: initial;
          display: block;
        }

        li:target {
          z-index: 3;
          -webkit-animation: fade 0.6s 1;
        }

        li:not(:target) {
          -webkit-animation: hidden 0.6s 1;
        }

        img {
          width: auto;
          object-fit: cover;
          object-position: top;
          height: 37.5vmax;
        }
      }

      .thumbnails {
        display: flex;
        flex-direction: column;
        line-height: 0;
        width: 13.75vmax;
        
        li {
          flex: auto;
        }

        a {
          display: block;
          border: 0;
        }
        
        img {
          object-fit: cover;
          object-position: top;
          width: 100%;
          height: calc(37.5vmax / 7);
        }
      }
    }
  }
}



// .Portfolio-grid {
//   box-sizing: border-box;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-weight: 700;
//   position: relative;
// }

// .Portfolio-grid img {
//   max-width: 100%;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

// .photo-container {
//   width: 600px;
//   position: relative;
// }

// .thumbnails {
//   list-style: none;
//   font-size: 0;
//   margin-left: -2%;
// }

// .thumbnails li {
//   display: inline-block;
//   width: 23%;
//   margin-left: 2%;
//   text-align: center;
//   vertical-align: middle;
// }

// .thumbnails li:hover .item-hugger { 
//   background: $bg-gr-opa; 
// }

// .thumbnails li:hover .item-hugger .title { 
//   color: $subtxt-color;
// }

// .thumbnails input[name="photo-select"] { 
//   display: none; 
// }

// .thumbnails .item-hugger {
//   position: relative;
//   height: 120px;
//   margin: 10px 0;
//   background: $txt-color;
//   transition: all 150ms ease-in-out;
// }

// .thumbnails label {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   cursor: pointer;
// }

// .thumbnails .title {
//   padding: 20px 0 0;
//   font-size: 18px;
//   color: $txt-gr;
//   transition: all 150ms linear;
// }

// .thumbnails .thumb-image {
//   height: 100px;
//   padding: 20px 0;
// }

// .thumbnails .photo-content {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 600px;
//   height: 500px;
//   padding: 50px;
//   opacity: 0;
//   transition: all 150ms linear;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

// .thumbnails .photo-content .title {
//   font-size: 20px;
//   font-weight: 400;
//   display: inline-block;
//   color: $txt-gr;
//   border-bottom: 2px solid $bg-solid;
//   padding: 50px 10px 0;
//   text-transform: uppercase;
// }

// .thumbnails input[name="select"]:checked + .item-hugger {
//   height: 180px;
//   margin: 0;
//   background: $bg-solid;
// }

// .thumbnails input[name="select"]:checked ~ .photo-content { 
//   opacity: 1; 
// }

// .white-box {
//   background: $txt-color;
//   height: 500px;
// }