/* ========= PORTFOLIO =============*/

.portfolio .clr {
    clear: both;
}

.portfolio .gallery-wrap {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.portfolio .gallery-wrap h1 {
    letter-spacing: 4px;
}

@media screen and (max-width: 768px){
    .portfolio .gallery-wrap .portfolio-EN {
        width: 100%;
    }
}


label {
    width: 10%;
    border: .1em solid $bg-solid;
    letter-spacing: 2px;
    padding: 0 .5rem; 
    margin: 0 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .8s;
    height: 2rem;
    min-width: fit-content;
    text-align: center;
}

label:hover {
    background-color: $bg-solid;
    color: $txt-color;
}

/*MOVIL*/
@media screen and (max-width: 768px) {
    .label {
        width: 30%;
        margin: 0;

        &hover {
            background-color: $bg-solid;
        }
    } 
}





.gallery-image {
    width: 23%;
    height: 300px;
    float: left;
    margin: 1%;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        height: auto;
        width: 90%;
    }

    img {
        width: 95%;
        height: 100%;
        object-fit: cover;
        transition: .5s;
        border: 10px;
    }

    p {
        font-size: large;
        line-height: 1.2;
        color: $txt-color
    }
}




/*Hover Section*/

.gallery-image .each-item{
    position:relative;
    overflow:hidden;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
    box-shadow: $shadow-port;
    
}

.gallery-image:hover .cap2, .gallery-image:hover .cap1{
    left:0px;
}

.cap1{
    position:absolute;
    width:100%;
    height: 100%;
    background:rgba(255, 255, 255, 0.5);
    top:0px;
    left:-100%;
    padding: 2em 1em;
    transition: all .5s;
    font-family: 'Lato', sans-serif;
    color: $subtxt-color;

    @media screen and (max-width: 768px) {
        height: 75%;        
    }

    h3 {
        @media screen and (max-width: 768px){
            font-size: 2em;
            margin-top: -8px;
        }
    }
    p {
        color: $subtxt-color;        
    }


    .h3-mob {
        @media screen and (max-width: 768px){
            font-size: x-large;
            margin-top: -8px;
        }
    }
    .p-mob {
        @media screen and (max-width: 768px){
            display: block;
        }
    }
}   


.cap2{
    position:absolute;
    width:100%;
    height:30%;
    background: $bg-solid;
    bottom:0px;
    left:100%;
    padding: 2em 1em;
    transition: all .5s;

    @media screen and (max-width: 768px) {
        height: 25%;
        padding: 0;
    }

    a {
        color: $txt-color;
        text-decoration: none;
    }

    p {
        @media screen and (max-width: 768px){
            font-size: 1.5em;
            line-height: 1.2;
            color: $txt-color;
            margin-top: 26px;
        }
    }
    .p-see-mob {
        font-size: x-large;
      
        @media screen and (max-width: 768px){
            margin-top: 24px;
        }
    }
}

/* ========== FIN PORTFOLIO =========*/






/* Portfolio Section */
#portfolio {
	padding: 25px 0;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
.type {
    display: flex;
    justify-content: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	min-width: fit-content;
    margin: 14px 0;
}
ol.type li a {
	border: 1px solid #777;
	color: #555;
	padding: 8px 20px;
	text-decoration: none;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	border-radius: 5px;
}
ol.type li a.active {
	background: teal;
	border: 1px solid teal;
	color: #fff;
}
ol.type li a:hover {
	background: teal;
	border: 1px solid teal;
	color: #fff;
}
.isotope-item {
	z-index: 2;
	margin: 1%;
}
.isotope-hidden.isotope-item {
	z-index: 1;
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.portfolio-item .hover-bg {	
	overflow: hidden;
	position: relative;
}

.gallery-image .hover-bg{
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}
