/*========== Fonts ==========*/

$font-monse: 'Montserrat', sans-serif;
$font-lato:'Lato', sans-serif;

/*========== Title ==========*/

$Title-size: 4em;
$Subtitle-size: 2em;

/*========== Colors ==========*/

/*-- Action things = Gray */

$txt-color: white;
$subtxt-color: black;
$txt-gr:  #343a40;

$bg-opa: rgba(0, 77, 77, 0.8);
$bg-solid: #004d4d;
$bg-solid-light: #0b8686 ;

$bg-button: #343a40;
$bg-gr-opa: rgba(44, 38, 38, 0.5);


/* ===== Shadow ===== */
$shadow: 0 .5rem 1rem rgba(0,0,0,.15);
$shadow-port:  10px 10px 5px #BFBFBF;

$scrollLength: 100vh;